In [15]:
# Following code is copied from the documentation for the dataset being used
# Dataset and documentation: https://dev.socrata.com/foundry/data.lacity.org/9yda-i4ya
# Import required libraries
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.lacity.org", None)

# All results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("9yda-i4ya", limit = 60000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,building_address,building_id,compliance,postal_code,program_year,apn,building_programclass,total_ghg_emissions,percent_difference_2,percent_difference_1,...,number_of_buildings,occupancy,outdoor_water_use,primary_property_1,site_eui,source_eui,water_use,weather_normalized_3,weather_normalized_4,year_built
0,14558 KESWICK ST,425463899040,NOT COMPLIED,91405,2021,028,"20,000 to 49,999 sqft",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5500 S FIGUEROA ST,476102819647,NOT COMPLIED,90037,2020,054,"20,000 to 49,999 sqft",138.1,29.5,29.5,...,1,100,Not Available,Multifamily Housing,54.7,99.9,2859.8,55.3,100.5,2001
2,11340 W OLYMPIC BLVD,427804836294,COMPLIED,90064,2020,017,"50,000 to 99,999 sqft",170.6,-47.8,-47.8,...,1,75,Not Available,Office,30.3,84.9,1052.3,Not Available,Not Available,1975
3,5650 FAIR AVE,448460885789,COMPLIED,91601,2021,011,"20,000 to 49,999 sqft",65.9,-27,-27,...,1,100,Not Available,Multifamily Housing,38.4,59.8,1.6,39.1,60.6,2010
4,4715 S ALAMEDA ST,488532822539,COMPLIED,90058,2021,011,"50,000 to 99,999 sqft",64.1,Not Available,Not Available,...,1,100,Not Available,Manufacturing/Industrial Plant,16.3,45.6,244.3,16.3,45.6,2007

In [50]:
results_clean_df = results_df.loc[:,['building_id', 'total_ghg_emissions', 'occupancy', 'primary_property_1', 'property_gfa_1', \
'water_use', 'weather_normalized_3', 'weather_normalized_4', 'year_built']]
results = results_clean_df.replace("Not Available", np.nan)
results = results.dropna()

,building_id,total_ghg_emissions,occupancy,primary_property_1,property_gfa_1,water_use,weather_normalized_3,weather_normalized_4,year_built
1,476102819647,138.1,100,Multifamily Housing,44769,2859.8,55.3,100.5,2001
3,448460885789,65.9,100,Multifamily Housing,31030,1.6,39.1,60.6,2010
4,488532822539,64.1,100,Manufacturing/Industrial Plant,65000,244.3,16.3,45.6,2007
5,455587859077,33.5,100,Multifamily Housing,27777,837.1,20,40.3,1961
7,423570837725,24.2,100,Multifamily Housing,30095,1303.9,13.9,24.2,1960
...,...,...,...,...,...,...,...,...,...
52578,487878840146,230.3,100,Multifamily Housing,105715,12530.6,37.8,75.1,1996
52579,481125799862,118,100,Multifamily Housing,69943,2476.1,29.1,55.7,2003
52580,379589902773,59.7,100,Multifamily Housing,28821,2283.1,36.6,68.3,1962
52581,410020916912,68.2,100,Multifamily Housing,21506,1468.4,57.4,105,1962
52582,449741849505,86.6,100,Multifamily Housing,51644,1416.1,29.1,61.3,1985

In [67]:
results_init= results.astype({'total_ghg_emissions': 'float',
                     'occupancy': 'float',
                     'property_gfa_1': 'float', 
                      'water_use': 'float',
                      'weather_normalized_3': 'float',
                      'weather_normalized_4': 'float',
                      'year_built': 'float'
                     })

results_final = results_init.loc[results_init["occupancy"] != 0]
results_final

,building_id,total_ghg_emissions,occupancy,primary_property_1,property_gfa_1,water_use,weather_normalized_3,weather_normalized_4,year_built
1,476102819647,138.1,100.0,Multifamily Housing,44769.0,2859.8,55.3,100.5,2001.0
3,448460885789,65.9,100.0,Multifamily Housing,31030.0,1.6,39.1,60.6,2010.0
4,488532822539,64.1,100.0,Manufacturing/Industrial Plant,65000.0,244.3,16.3,45.6,2007.0
5,455587859077,33.5,100.0,Multifamily Housing,27777.0,837.1,20.0,40.3,1961.0
7,423570837725,24.2,100.0,Multifamily Housing,30095.0,1303.9,13.9,24.2,1960.0
...,...,...,...,...,...,...,...,...,...
52578,487878840146,230.3,100.0,Multifamily Housing,105715.0,12530.6,37.8,75.1,1996.0
52579,481125799862,118.0,100.0,Multifamily Housing,69943.0,2476.1,29.1,55.7,2003.0
52580,379589902773,59.7,100.0,Multifamily Housing,28821.0,2283.1,36.6,68.3,1962.0
52581,410020916912,68.2,100.0,Multifamily Housing,21506.0,1468.4,57.4,105.0,1962.0
52582,449741849505,86.6,100.0,Multifamily Housing,51644.0,1416.1,29.1,61.3,1985.0

In [70]:
property_types_counts = results_final.groupby(['primary_property_1'])['building_id'].count().sort_values(ascending = False)
property_types_counts

primary_property_1
Multifamily Housing                    12573
Office                                  3316
Manufacturing/Industrial Plant          1311
Non-Refrigerated Warehouse              1165
Self-Storage Facility                    659
                                       ...
Urgent Care/Clinic/Other Outpatient        2
Convenience Store with Gas Station         2
Roller Rink                                1
Courthouse                                 1
Bureau                                     1
Name: building_id, Length: 76, dtype: int64

In [71]:
keep_property_types = property_types_counts.loc[property_types_counts > 300]
keep_property_types = keep_property_types.drop(labels=['Other'])
keep_property_types = list(keep_property_types.index)
keep_property_types

['Multifamily Housing',
 'Office',
 'Manufacturing/Industrial Plant',
 'Non-Refrigerated Warehouse',
 'Self-Storage Facility',
 'Distribution Center',
 'Retail Store',
 'Fire Station',
 'Mixed Use Property',
 'Hotel',
 'Medical Office',
 'Parking']

In [72]:
buildings_initial = results_final.loc[results_clean_df['primary_property_1'].isin(keep_property_types)]
buildings_df = buildings_initial.rename(columns = {"weather_normalized_3":"WN_site_eui",
                               "weather_normalized_4":"WN_source_eui"
                              })
buildings_df

,building_id,total_ghg_emissions,occupancy,primary_property_1,property_gfa_1,water_use,WN_site_eui,WN_source_eui,year_built
1,476102819647,138.1,100.0,Multifamily Housing,44769.0,2859.8,55.3,100.5,2001.0
3,448460885789,65.9,100.0,Multifamily Housing,31030.0,1.6,39.1,60.6,2010.0
4,488532822539,64.1,100.0,Manufacturing/Industrial Plant,65000.0,244.3,16.3,45.6,2007.0
5,455587859077,33.5,100.0,Multifamily Housing,27777.0,837.1,20.0,40.3,1961.0
7,423570837725,24.2,100.0,Multifamily Housing,30095.0,1303.9,13.9,24.2,1960.0
...,...,...,...,...,...,...,...,...,...
52578,487878840146,230.3,100.0,Multifamily Housing,105715.0,12530.6,37.8,75.1,1996.0
52579,481125799862,118.0,100.0,Multifamily Housing,69943.0,2476.1,29.1,55.7,2003.0
52580,379589902773,59.7,100.0,Multifamily Housing,28821.0,2283.1,36.6,68.3,1962.0
52581,410020916912,68.2,100.0,Multifamily Housing,21506.0,1468.4,57.4,105.0,1962.0
52582,449741849505,86.6,100.0,Multifamily Housing,51644.0,1416.1,29.1,61.3,1985.0

In [73]:
# Question 1: What are the effects of per capita water consumption vs energy consumption (source + site weather) on carbon 
# emissions and does one factor have a higher effect than the other?

In [81]:
# Create a DataFrame for water usage per capita
water_per_capita = buildings_df.loc[:, ["building_id", "primary_property_1", "water_use", "occupancy", "total_ghg_emissions"]]
water_per_capita["Water Usage Per Capita"] = water_per_capita["water_use"]/ water_per_capita["occupancy"]

water_per_capita

,building_id,primary_property_1,water_use,occupancy,total_ghg_emissions,Water Usage Per Capita
1,476102819647,Multifamily Housing,2859.8,100.0,138.1,28.598
3,448460885789,Multifamily Housing,1.6,100.0,65.9,0.016
4,488532822539,Manufacturing/Industrial Plant,244.3,100.0,64.1,2.443
5,455587859077,Multifamily Housing,837.1,100.0,33.5,8.371
7,423570837725,Multifamily Housing,1303.9,100.0,24.2,13.039
...,...,...,...,...,...,...
52578,487878840146,Multifamily Housing,12530.6,100.0,230.3,125.306
52579,481125799862,Multifamily Housing,2476.1,100.0,118.0,24.761
52580,379589902773,Multifamily Housing,2283.1,100.0,59.7,22.831
52581,410020916912,Multifamily Housing,1468.4,100.0,68.2,14.684
52582,449741849505,Multifamily Housing,1416.1,100.0,86.6,14.161

In [82]:
# Create a DataFrame for energy usage per capita
eui_per_capita = buildings_df.loc[:, ["building_id", "primary_property_1", "WN_source_eui", "occupancy"]]
eui_per_capita["Energy Usage Per Capita"] = eui_per_capita["WN_source_eui"]/ eui_per_capita["occupancy"]

eui_per_capita

,building_id,primary_property_1,WN_source_eui,occupancy,Energy Usage Per Capita
1,476102819647,Multifamily Housing,100.5,100.0,1.005
3,448460885789,Multifamily Housing,60.6,100.0,0.606
4,488532822539,Manufacturing/Industrial Plant,45.6,100.0,0.456
5,455587859077,Multifamily Housing,40.3,100.0,0.403
7,423570837725,Multifamily Housing,24.2,100.0,0.242
...,...,...,...,...,...
52578,487878840146,Multifamily Housing,75.1,100.0,0.751
52579,481125799862,Multifamily Housing,55.7,100.0,0.557
52580,379589902773,Multifamily Housing,68.3,100.0,0.683
52581,410020916912,Multifamily Housing,105.0,100.0,1.050
52582,449741849505,Multifamily Housing,61.3,100.0,0.613

In [ ]:
plt.scatter(eui_per_capita["Energy Usage Per Capita"], water_per_capita["Water Usage Per Capita"])
plt.xlabel("Energy Usage Per Capita")
plt.ylabel("Water Usage Per Capita") 

# linear regression line and others

In [73]:
# Question 2: What property type has highest source energy and water consumption per capita?

# water_use_max = water_per_capita.groupby("primary_property_1")["water_use"].max().sort_values(ascending = False)
# eui_use_max = eui_per_capita.groupby("primary_property_1")["site_eui"].max().sort_values(ascending = False)

# print(f"{water_use_max.index[0]} has the highest water consumption per capita out of all available property types in LA with a amount of {water_use_max} unit")
# print(f"{eui_use_max.index[0]} has the highest energy consumption per capita out of all available property types in LA with a amount of {eui_use_max} unit")

,building_id,primary_property_1,water_use,occupancy,Water Usage Per Capita
1,476102819647,Multifamily Housing,2859.8,100,28.598
2,427804836294,Office,1052.3,75,14.030667
3,448460885789,Multifamily Housing,1.6,100,0.016
4,488532822539,Manufacturing/Industrial Plant,244.3,100,2.443
5,455587859077,Multifamily Housing,837.1,100,8.371
...,...,...,...,...,...
52578,487878840146,Multifamily Housing,12530.6,100,125.306
52579,481125799862,Multifamily Housing,2476.1,100,24.761
52580,379589902773,Multifamily Housing,2283.1,100,22.831
52581,410020916912,Multifamily Housing,1468.4,100,14.684
52582,449741849505,Multifamily Housing,1416.1,100,14.161

In [19]:
# Question 3: For 3 most-frequent building types, what is the relationship between gross building 
# floor area and site eui?
most_frequent_types = {}

primary_property_counts = (buildings_df.groupby(buildings_df["primary_property_1"])["building_id"].count()).sort_values(ascending = False)
for i in range(3):
    
    i+=1

most_frequent_types
# "property_gfa_1" 
# "site_eui"

AttributeError: 'dict' object has no attribute 'key'

In [ ]:
# Question 4: For multi-family housing building type, is there a relationship between year built 
# and source energy vs water consumption per capita?